.tileContainer {
  width: 80%;
  padding: 0 5%;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-between;
  height: 2em;
  align-items: center;
}

.tileStatus {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
