.communityTileContainer {
    width: 90%;
    margin-left: 5%;
    padding: 5px 10px;
    overflow-x: hidden;
    cursor: pointer
  }
  
  .communityTileContainer:hover {
    width: 90%;
    margin-left: 5%;
    padding: 5px 10px;
    overflow-x: hidden;
    cursor: pointer;
    color: #afc3cc;
  }