.formElement {
  border-radius: 2em;
  width: 100%;
  margin-top: 15px;
}

.formContainer {
  text-align: center;
  width: 25vw;
  margin: 0 auto;
}

.buttonRoot {
  border-radius: 2em;
  width: 80%;
  margin: 5px 10%;
}
