:root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  margin: 0px;
}

h1 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

img {
  max-width: 50vw;
}

a {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
