.post {
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
}

.post:hover {
  background-color: #f1f1f1;
}

.postMetaData {
  float: right;
  color: darkgrey;
}

.userProfile {
  float: left;
}

.postContent {
  margin-left: 60px;
  position: relative;
  clear: both;
  display: block;
}
