
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #FFFFFE;
}

:focus {
  outline: none;
}

body {
  margin: 0px;
}

h1 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

img {
  max-width: 50vw !important;
}

a {
  color: black;
}

div.sc-fzoyAV {
  background: #FFFFFE;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #fafafa;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/*
  Styling for html of a blog post
*/

#blog-text > p, #blog-text > ol, #blog-text > ul  {
  font-family: 'Spectral', 'serif';
}

/*
  Styling for twitter links in posts
*/

img.tweet-user-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.tweet-author-name {
  margin-right: 10px;
}

.tweet {
  border: 1px solid #F0F0F0;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.tweet > a {
  text-decoration: none;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-footer {
  display: flex;
  margin: 10px 0;
}

.tweet-date {
  margin: 0 20px 0 0;
}

.retweets {
  margin-right: 20px;
}

/*
  YouTube
*/

.youtube-wrap {
  height: 400px;
  margin: 15px 0;
}

.youtube-wrap > iframe {
    width: 100%;
    height: 100%;
}
