
.drawerPaper {
  z-index: auto;
}

.container {
  height: 100vh;
}

.logoContainer {
  margin-top: 10px;
}

.logo {
  width: 20%;
  margin-left: 40%;
}

.closeChevron {
  float: right;
  margin-right: auto;
}

.openChevron {
  margin-top: 10px;
}
