
.drawerPaper {
  z-index: auto;
}

.container {
  height: 100vh;
  flex: 1;
}

.logoContainer {
  margin-top: 10px;
}

.logo {
  width: 20%;
  margin-left: 40%;
}

.closeChevron {
  float: right;
}

.openChevron.root {
  margin-top: 10px;
}

